Repository hmcts/rpx-xui-approve-org, pull requests merged in 2020-04, with the labels that each got.

#216 EUI-921 polyfills
  src/polyfills.ts
Labels: ns:xui, rel:xui-ao-webapp-pr-216

#303 update bitnami chart
  charts/xui-ao-webapp/Chart.yaml
  charts/xui-ao-webapp/requirements.yaml
Labels: ns:xui, rel:xui-ao-webapp-pr-303

#301 Health and Livness check
  api/application.ts
  api/lib/sessionStore.ts
  charts/xui-ao-webapp/Chart.yaml
  charts/xui-ao-webapp/requirements.yaml
  package.json
  src/polyfills.ts
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-301

#307 Accessibility text changes.
  src/app/components/accessibility/accessibility.component.html
Labels: ns:xui, rel:xui-ao-webapp-pr-307

#312 updating charts
  charts/xui-ao-webapp/Chart.yaml
Labels: ns:xui, rel:xui-ao-webapp-pr-312

#313 Reinvite user code review
  src/app/components/service-down/service-down.component.ts
  src/app/store/actions/app.actions.spec.ts
  src/app/store/effects/app.effects.spec.ts
  src/app/store/effects/app.effects.ts
  src/app/store/reducers/app.reducer.spec.ts
  src/app/utils/app-utils.spec.ts
  src/org-manager/containers/organisation-details/organisation-details.component.ts
  src/org-manager/containers/reinvite-user/reinvite-user.component.ts
  src/org-manager/services/users.service.spec.ts
  src/org-manager/store/reducers/organisation.reducer.spec.ts
  src/org-manager/store/reducers/organisation.reducer.ts
  src/org-manager/store/reducers/users.reducer.spec.ts
Labels: ns:xui, rel:xui-ao-webapp-pr-313

#309 Feature/eui 1320 open id connect
  api/application.ts
  api/auth/index.ts
  api/configuration/references.ts
  api/configuration/ui.ts
  api/interfaces/ui.config.ts
  api/keepalive/index.ts
  api/middleware/auth.ts
  api/routes.ts
  api/user/index.ts
  charts/xui-ao-webapp/values.preview.template.yaml
  charts/xui-ao-webapp/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  package.json
  proxy.config.json
  src/app/app.module.ts
  src/app/app.routes.ts
  src/app/components/index.ts
  src/app/components/signed-out/signed-out.component.html
  src/app/components/signed-out/signed-out.component.ts
  src/app/containers/app/app.component.html
  src/app/containers/app/app.component.spec.ts
  src/app/containers/app/app.component.ts
  src/app/services/environment.service.ts
  src/app/services/keep-alive/keep-alive.service.ts
  src/app/services/user-service/user.service.ts
  src/app/store/actions/app.actions.ts
  src/app/store/effects/app.effects.spec.ts
  src/app/store/effects/app.effects.ts
  src/app/store/effects/index.ts
  src/app/store/reducers/app.reducer.ts
  src/app/store/reducers/index.ts
  src/app/store/selectors/app.selectors.ts
  src/app/utils/app-utils.ts
  src/models/environmentConfig.model.ts
  src/models/user.model.ts
  src/org-manager/store/effects/users.effects.ts
  src/services/auth/auth.service.ts
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-309
