Repository hmcts/rpx-xui-approve-org, pull requests merged in 2020-02, with the labels that each got.

#212 Feature/eui 1389 adding reset on search
  charts/xui-ao-webapp/values.aat.template.yaml
  charts/xui-ao-webapp/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  package.json
  src/org-manager/components/back-link/back-link.component.ts
  src/org-manager/containers/active-organisations/active-organisations.component.html
  src/org-manager/containers/active-organisations/active-organisations.component.spec.ts
  src/org-manager/containers/active-organisations/active-organisations.component.ts
  src/org-manager/containers/approve-organisation/approve-organisation.component.html
  src/org-manager/containers/edit-details/edit-details.component.spec.ts
  src/org-manager/containers/edit-details/edit-details.component.ts
  src/org-manager/containers/organisation-details/organisation-details.component.spec.ts
  src/org-manager/containers/pending-organisations/pending-organisations.component.html
  src/org-manager/containers/pending-organisations/pending-organisations.component.spec.ts
  src/org-manager/containers/pending-organisations/pending-organisations.component.ts
  src/org-manager/containers/search-organisations-form/search-organisations-form.component.html
  src/org-manager/containers/search-organisations-form/search-organisations-form.component.scss
  src/org-manager/containers/search-organisations-form/search-organisations-form.component.spec.ts
  src/org-manager/containers/search-organisations-form/search-organisations-form.component.ts
  src/org-manager/mock/pending-organisation.mock.ts
  src/org-manager/pipes/filter-organisations.pipe.ts
  src/org-manager/store/actions/organisations.actions.ts
  src/org-manager/store/effects/organisation.effects.ts
  src/org-manager/store/reducers/organisation.reducer.spec.ts
  src/org-manager/store/reducers/organisation.reducer.ts
  src/org-manager/store/selectors/organisation.selectors.spec.ts
  src/org-manager/store/selectors/organisation.selectors.ts
  test/e2e/features/pageObjects/organisationListPage.js
  test/e2e/features/step_definitions/steps/confirmApproveOrganisation.steps.js
Labels: ns:xui, rel:xui-ao-webapp-pr-212

#214 updated tunnel to use node v12+
  api/lib/tunnel.ts
  charts/xui-ao-webapp/Chart.yaml
  package.json
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-214

#217 adding the missing postcode
  src/org-manager/containers/approve-organisation/approve-organisation.component.html
Labels: ns:xui, rel:xui-ao-webapp-pr-217

#224 Feature/health endpoint ithc v2
  Jenkinsfile_CNP
  api/.env.defaults
  api/local.ts
  api/server.ts
  charts/xui-ao-webapp/Chart.yaml
  charts/xui-ao-webapp/values.preview.template.yaml
  infrastructure/aat.tfvars
  package.json
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-224

#226 disable enableDockerBuild()
  Jenkinsfile_CNP
Labels: ns:xui, rel:xui-ao-webapp-pr-226

#228 updated node version across project
  .nvmrc
  Dockerfile
  api/lib/tunnel.ts
  infrastructure/main.tf
  package.json
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-228

#231 updated fee and pay api url to http
  api/.env.defaults
  charts/xui-ao-webapp/values.aat.template.yaml
  charts/xui-ao-webapp/values.preview.template.yaml
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:xui, rel:xui-ao-webapp-pr-231

#243 Feature/develop to master
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  README.md
  api/.env.defaults
  api/.env.example
  api/auth/index.ts
  api/auth/serviceToken.ts
  api/configuration/constants.ts
  api/configuration/health.ts
  api/configuration/index.ts
  api/configuration/references.ts
  api/configuration/ui.ts
  api/environment/index.ts
  api/healthCheck/index.ts
  api/interfaces/environment.config.ts
  api/interfaces/ui.config.ts
  api/lib/appInsights.ts
  api/lib/environment.config.ts
  api/lib/interceptors.ts
  api/lib/log4jui.ts
  api/lib/tunnel.ts
  api/local.ts
  api/monitoring-tools/index.ts
  api/organisation/index.ts
  api/package-lock.json
  api/package.json
  api/pbaAccounts/index.ts
  api/server.ts
  api/services/rdProfessional.ts
  api/services/serviceAuth.ts
  api/updatePba/index.ts
  api/webpack-node.config.js
  api/yarn.lock
  charts/xui-ao-webapp/Chart.yaml
  charts/xui-ao-webapp/requirements.yaml
  charts/xui-ao-webapp/values.aat.template.yaml
  charts/xui-ao-webapp/values.preview.template.yaml
  charts/xui-ao-webapp/values.yaml
  config/custom-environment-variables.json
  config/default.json
  infrastructure/main.tf
  infrastructure/variables.tf
  package-lock.json
  package.json
  sonar-project.properties
  src/assets/components/button/_button.scss
  src/assets/components/casefile/_casefile-2.scss
  src/assets/components/casefile/_casefile-3.scss
  src/assets/components/casefile/_casefile.scss
  src/assets/components/header/_header.scss
  src/assets/components/primary-nav/_primary-nav.scss
  src/assets/components/tabs/_tabs.scss
  src/assets/components/tree/_tree.scss
  src/assets/sass/patterns/_pba.scss
  yarn.lock
Labels: ns:xui, rel:xui-ao-webapp-pr-243

#248 missing references when mount point not available
  api/lib/appInsights.ts
  api/local.ts
  charts/xui-ao-webapp/values.aat.template.yaml
  charts/xui-ao-webapp/values.preview.template.yaml
  config/custom-environment-variables.json
Labels: ns:xui, rel:xui-ao-webapp-pr-248
