Repository hmcts/rpx-xui-approve-org, pull requests merged in 2023-12, with the labels that each got.

#818 Delete postOrganisation.spec.ts
  api/test/pact/pact-tests/rdProfessional/postOrganisation.spec.ts
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-ao-webapp-pr-818

#819 Add org type description to AO
  api/configuration/references.ts
  api/configuration/ui.ts
  api/prd/lov/index.ts
  api/prd/lov/models/lovRefData.model.ts
  api/routes.ts
  charts/xui-ao-webapp/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  src/org-manager/components/organisation-details-info/organisation-details-info.component.html
  src/org-manager/components/organisation-details-info/organisation-details-info.component.ts
  src/org-manager/containers/organisation-details/organisation-details.component.html
  src/org-manager/containers/organisation-details/organisation-details.component.spec.ts
  src/org-manager/containers/organisation-details/organisation-details.component.ts
  src/shared/models/lovRefData.model.ts
  src/shared/services/lov-ref-data.service.ts
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-ao-webapp-pr-819

#817 EUI-9036: Approve Organisation details page amendment
  api/configuration/references.ts
  api/configuration/ui.ts
  api/prd/lov/index.ts
  api/prd/lov/models/lovRefData.model.ts
  api/routes.ts
  charts/xui-ao-webapp/values.preview.template.yaml
  config/custom-environment-variables.json
  config/default.json
  src/org-manager/components/organisation-details-info/organisation-details-info.component.html
  src/org-manager/components/organisation-details-info/organisation-details-info.component.ts
  src/org-manager/containers/organisation-details/organisation-details.component.html
  src/org-manager/containers/organisation-details/organisation-details.component.spec.ts
  src/org-manager/containers/organisation-details/organisation-details.component.ts
  src/shared/models/lovRefData.model.ts
  src/shared/services/lov-ref-data.service.ts
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-ao-webapp-pr-817

#820 DTSPO-15909 - migrated Application Insights
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:xui, prd:xui, add-or-update, rel:xui-ao-webapp-pr-820
