Repository hmcts/rpx-xui-approve-org, pull requests merged in 2025-08, with the labels that each got.

#911 Update yarn-audit-known-issues
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-ao-webapp-pr-911

#884 EXUI-3057: service override settings
  api/application.ts
  api/configuration/references.ts
  charts/xui-ao-webapp/Chart.yaml
  config/custom-environment-variables.json
  config/default.json
  package-lock.json
  package.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
  test/codeceptCommon/codeceptA11y.conf.ts
  test/integration/config/application.config.ts
  test/localServer.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-ao-webapp-pr-884

#918 Revert passport
  api/application.ts
  api/configuration/references.ts
  charts/xui-ao-webapp/Chart.yaml
  config/custom-environment-variables.json
  config/default.json
  package-lock.json
  package.json
  src/environments/environment.prod.ts
  src/environments/environment.ts
  test/codeceptCommon/codeceptA11y.conf.ts
  test/integration/config/application.config.ts
  test/localServer.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-ao-webapp-pr-918

#923 exui-576-upgrade jsonwebtoken library
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-ao-webapp-pr-923
